.heading{
    font-size: 4rem;
    font-weight: 100;
    @include responsive(phone){
        font-size: 4rem;
    }
}

.heading-3{
    font-size: 1.5rem;
    font-weight: 200;
}

.heading-2{
    font-size: 1.8rem;
}

.paragraph{
    font-size: 1.5rem;
    font-weight: lighter;

    @include responsive(phone){
        font-size: 1.8rem;
    }
}



.paragraph--white{
    color: $color-gray-light;
}