*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    border: 0;   
}

html{
    font-size: 62.5%; // Defines what 1rem is
    overflow-x: hidden;

    @include responsive(tablet){
        font-size: 50%; // Defines what 1rem is
      }

      @include responsive(phone){
        font-size: 45%; // Defines what 1rem is
      }


}

body{
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
}