/**Responsive */

$bp-small : 42.85em; // 500px 
$bp-table : 69em; //768px

//phone - 500px

@mixin responsive($type) {
    
    @if($type == phone){
        @media  only screen and (max-width : $bp-small)  {
            @content
        }
    };

    @if($type == tablet){
        @media  only screen and (max-width : $bp-table)  {
            @content
        }
    }
}

  