$primary-color : #031d40;
$secondary-color : #2f5a96;;
$terciary-color: #689ff7;

$primary-color-dark-light : #1c4785;
$primary-color-dark : #2f5a96;

$color-gray-light : #f5faf7;
$color-gray-dark : #ebf2ee;

$color-black : #000;

$box-shadow:  0 1.5rem 4rem rgba($color-black, .15);