.bio{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    box-shadow: $box-shadow;
    border-radius: 3px;

    @include responsive(phone){
        padding: 1rem 0;
        box-shadow: none;
        border-radius: 0;
    }
  
    &__header{
        background-color: $primary-color;
        color: $color-gray-light;
        padding: 1rem 3rem;
        font-size: 2rem;
        font-weight: 300;

        @include responsive(phone){
            font-size: 3rem;
            
        }
    }

    &__content{
        background-color: $primary-color-dark-light ;
        padding: 1rem 3rem;
        color: $color-gray-light;
        font-size: 1.5rem;
        font-weight: 200;

        @include responsive(phone){
            font-size: 2rem;

        }
    }
}