.datapersonal{
    background-color: $primary-color-dark;
    padding: 0rem .3rem;
    @include responsive(phone){
      grid-column: 1 / -1;
    }


    display: flex;
    flex-direction: column;
    align-content: center;


    &__info{
        background-color: $primary-color-dark-light ;
        padding: 2rem 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include responsive(phone){
            padding: 10rem 10rem;
            text-align: center;
        }
    
    }

    &__icon{
        fill: $color-gray-dark ;
        width: 2rem;
        height: 2rem;
        margin-bottom: 1px;
        align-self: start;
        transform: translateX(-25%);

        @include responsive(phone){
            transform: translateX(0);
            align-self: center;
        }
    }

    &__years{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        z-index: 2;
        transform: translateX(50%);
        background-color: $color-gray-light;
        color: $terciary-color;

        @include responsive(phone){
            transform: translateX(0);
            align-items: center;
            align-self: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        span{
            color: currentColor;
            font-size: 6rem;
        }

        p{
            color: currentColor;
            text-transform: lowercase;
            writing-mode: vertical-lr;
            text-orientation: upright;
            letter-spacing: -3px;
            font-size: 1rem;
            
        }
    }

    &__iconmap{
        margin-top: 1rem;
        margin-bottom: 1rem;
        fill: $color-gray-dark;
        width: 5rem;
        height: 5rem;

        @include responsive(phone){
            margin-bottom: 0;
        }
    }

    
    &__summary{
        background-color: $primary-color;
        flex: 0 0 30%;
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: 1fr repeat(2, min-content);
        grid-row-gap: 2rem;
        grid-column-gap: .5rem;

        @include responsive(phone){
            padding: 10rem 10rem;
            text-align: center;
        }

        &__text{
            grid-column: 1 / -1;
        }

        &__iconmap{
            fill: $color-gray-light;
            width: 2rem;
            height: 2rem;

            &--1{
                grid-column: 2;
            }

        }
    }
}
