
.details{
    background-color: $primary-color-dark;
    padding: 0rem .3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include responsive(phone){
        padding: 1rem 1rem;
    }
    

    &__media{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        padding: 2rem 2.3rem;

        @include responsive(phone){
            padding-top: 1rem;
        }
        
    }


    @include responsive(phone){
        grid-column: 1 / -1;
    }

}