.expertise{

  
    padding: 0 3rem;
    display: flex;
    flex-direction: column;

    @include responsive(phone){
        padding: 1rem 1rem;
    }

    &__container{
        position: relative;
        width: 100%;
        height: 25rem;
    }

    
    &__label{
       cursor: pointer;
    }

    &__radio:checked ~ &__container  &__languages--front {
        transform: rotateY(-180deg);
    }

    
    &__radio:checked  ~  &__container  &__languages--back {
        transform: rotateY(0deg);
    }
    
    &__languages{
        padding: 2rem 3rem;
        display: grid;
        grid-template-columns: minmax(min-content, 20%) 1fr;
        grid-row-gap: 1rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        box-shadow: $box-shadow;
        border-radius: 3px;

        transition: all .8s ease;

        &--front{
            background-color: $secondary-color;
            top: 0;
            left: 0;
            position: absolute;
            color: $color-gray-light;
            
        }

        &--back{
            top: 0;
            left: 0;
            background-color: $color-gray-light;
            color: $secondary-color;
            transform: rotateY(180deg);
            position: absolute;
        }
    }

    &__tecnology{
        font-size: 1.5rem;
        font-weight: 200;
        color: currentColor;
    }

    &__overal{
        background-color: currentColor;
        height: 5px;
        align-self: center;
    }

    &__container-experience{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(180px, 1fr )) ;
        grid-row-gap: 2rem;
        grid-column-gap: 3rem;
        padding: 1rem 0;
        background-color: $secondary-color;
        box-shadow: $box-shadow;
        border-radius: 3px;
        padding: 1rem 2rem;
    }

    &__container-card{
        background-color: #ffff;
        border-radius: 3px;
        box-shadow: $box-shadow;
        

        header{
            background-size: cover;
            height: 6rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            color: $color-gray-light;
            --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            background-blend-mode: screen;
    
            & > *{
                padding-left: 2rem;

            }
        }

        
        &--softtek{
            header{
                background-image:linear-gradient(  to right bottom,
                rgba(#117044, 1),
                rgba(#117044, .5) ),
            url('../img/Softtek.webp');
            }
           
        }

        &--axity{
            header{
                background-image:linear-gradient(  to right bottom,
                rgba(#9009d9, 1),
                rgba(#9009d9, .5) ),
            url('../img/Axity.webp');
            }
           
        }

        &--info{
            header{
                background-image:linear-gradient(  to right bottom,
                rgba($secondary-color, 1),
                rgba($secondary-color, .5) ),
            url('../img/info.png');
            }
           
        }

    
    }

    &__info-experience{
            padding: 2rem 3rem;
            font-size: 1.2rem;
    }

    
}