.scholarship{
    box-shadow: $box-shadow;
    border-radius: 3px;
    &__content{
        display: grid;
        grid-template-columns: 10% minmax(4rem,1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1rem;
        grid-column-gap: .8rem;
        background-color: $primary-color-dark-light;
        color:  $color-gray-dark;
        padding: 1rem 0;

        span{
            font-size: 1rem;
            font-weight: 800;

            @include responsive(phone){
                font-size: 1.5rem;
            }

        }

        h4{
            font-size: 1.4rem;
            font-weight: 500;

            @include responsive(phone){
                font-size: 1.9rem;
            }
        }



        p{
            font-size: 1.5rem;
            font-weight: 200;

            @include responsive(phone){
                font-size: 1.9rem;
            }
        }
    }

    &__header{
        background-color: $color-gray-dark;
        color: $primary-color;
        padding: 1rem 3rem;
        font-size: 2rem;
        font-weight: 300;

        @include responsive(phone){
            font-size: 3rem;
            
        }
    }

    &__time{
        grid-column: 1;
        grid-row: 1 / -1;
        justify-self: end;
    }
}

.timeline{
    display: flex;
    align-items: center;
    &::before{
        content: '';
        width: .5px;
        height: 95%;
        border-left:$color-gray-dark dashed  .5px ;
    }

}

