.header{
    background-image: linear-gradient( rgba($primary-color, .5), rgba($secondary-color, .5)),
     url('../img/background.jpg');
    background-size: cover;

    grid-row: 1/1;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    padding: 0 3rem;

    &__info{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    &__img{
       width: 10rem;
       height: 12rem;
       border-radius: 50%;
       transform: translateY(10%);

       @include responsive(phone){
        width: 8rem;
        height: 10rem;
        }
    }

    &__main,
    &__sub{
        color:$color-gray-light ;
        display: block;
    }

    &__main{
        padding: 1rem 0;

        @include responsive(phone){
            padding: 0 0;
        }
    }
}