.container{
    display: grid;
    min-width: 100vw;
   
    grid-template-rows: 40vh;
    grid-template-columns:  [info-start] repeat(2, [center-start] minmax(6rem, 1fr) [center-end])[info-end expertise-start] 2fr [expertise-end];
    padding: 1rem 5rem;


        
      @include responsive(tablet){
        padding: 0 0;
      }

          
    @include responsive(phone){
        grid-template-rows: 90vh;
      }

}




.expertise{
    background-color: $primary-color-dark-light;
    @include responsive(phone){
        grid-column: 1 / -1;
    }

}



